[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fbs = "*"
pyqt5 = "*"
matplotlib = "==3.2.2"
numpy = "*"
pandas = "*"
scipy = "*"

[dev-packages]
bump2version = "*"
pillow = "*"
black = "*"

[requires]
python_version = "3.6"
